# Compiled object files
*.o

# Executable files
*.exe
*.out

# Debug files
*.gch
*.dSYM/
*.stackdump

# OS-specific files
.DS_Store      # macOS
Thumbs.db      # Windows

# Editor backup and temporary files
*~
*.swp
*.bak
